 .container {
     display: flex;

     height: 500px;
     margin-top: 50px;
     margin-left: 100px;
     margin-right: 100px;

     border: 2px solid black;
     border-radius: 35px;
     background: #161616;



 }

 .first-title {

     color: white;
     margin-top: 30px;
     margin-left: 90px;
 }

 p {
     font-size: 20px;
 }

 .title {
     font-size: 50px;
 }


 body {

     font-family: 'Poppins', sans-serif;


 }

 main {
     width: 100%;
 }

 .button {

     text-decoration: none;
     color: white;

     width: 187px;
     height: 56px;
     background: #DD0000;
     border-radius: 5px;
     display: flex;
     align-items: center;

 }



 .link-button {
     text-decoration: none;
     color: white;
     margin-left: 30px;
     font-size: 20px;
 }

 .fa-angle-right {
     margin-left: 20px;
 }


 .footballer img {
     width: 390px;
     height: 470px;
     margin-left: 50px;
     margin-right: 50px;
     margin-top: 30px;
 }

 .boxes {
     background-color: black;
     width: 250px;
     height: 280px;
     border-radius: 10px;
     padding-top: 5px;
     margin-top: 100px;
     margin-bottom: 30px;
     margin-left: 90px;


 }



 nav a {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     text-decoration: none;
     width: 200px;
     height: 50px;
     margin-top: 30px;



 }


 .box {
     background-color: white;
     color: black;
     margin-left: 30px;
     width: 200px;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 15px;
     border-radius: 10px;

 }

 #blog {
     background-color: #DD0000;
     margin: 30px 30px 30px 30px;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 15px;
     border-radius: 10px;

 }


 .flex {
     display: flex;


 }


 .project {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     margin-left: 10px;
     column-gap: 10px;
     row-gap: 10px;
     font-size: 18px;
     margin-top: 100px;




 }

 .new-container {
     margin-left: 5px;
     margin-right: 0px;
     width: 312px;
     height: 362px;
     box-shadow: 0 0 2px lightgray;
     border-radius: 5px;



 }

 .img {
     width: 200px;
     height: 175px;
 }




 .transfer {
     width: 100px;
     height: 32px;
     margin-top: 10px;
     color: #161616;
     font-size: 16px;
 }

 .icon {
     display: flex;
 }

 .icon-title {
     display: flex;
 }

 .icon-title2 {
     display: flex;
     margin-left: 30px;

 }



 .new-img {
     margin-right: 10px;
 }

 footer {
     background-color: black;
     color: white;
     height: 400px;
     width: auto;
     text-align: center;
     margin-top: 50px;
 }

 .letter {
     padding-top: 50px;
 }

 #last {
     font-size: 30px;

 }



 hr {
     /* color: gray; */
     margin-top: 100px;
     width: 1000px;
     height: 0px;
     border: 1px solid rgba(255, 255, 255, 0.1);
     margin-bottom: 70px;
 }

 .chapter-last {
     text-decoration: none;
     text-align: center;
     margin-left: 50px;
     color: white;
 }

 @media only screen and (max-width:540px) {
     .container {
         width: 334px;
         height: 472px;

         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;


     }

     .first-title {
         margin-left: 2px;
         text-align: center;
     }

     .title {
         font-size: 22px
     }

     p {
         font-size: 10px;
     }

     .button {
         width: 180px;
         height: 35px;
         font-size: 10px;
         margin-left: 70px;


     }

     .link-button {
         /* margin-left: 1px; */
     }

     .fa-angle-right {
         margin-left: 10px;

     }

     .footballer img {
         width: 233px;
         height: 245px;
         margin-bottom: 10px;
     }

 }





 }